### data sources ----------------------------------------------------

db_sqlite:
  path:

db_pg:
  host: localhost
  port: 5432
  user:
  pass:
  path: <db_name>

files_fs:
  path:


### services --------------------------------------------------------

server_http:
  host: http://localhost
  port: 3002

auth_http:
  host: http://localhost
  port: 3002

crud_http:
  host: http://localhost
  port: 3002

auth_jwt:
  key_path: ./


### actors ----------------------------------------------------------

actors:
  - identity:
      nickname: admin
      roles:
        - admin
    creds:
      nickname:
      password:
  - identity:
      nickname: crud_tester
      roles:
        - crud_tester
    creds:
      nickname: crud_tester
      password: crud_tester

