# Environments
apps/environments/*.json5
apps/environments/*.yaml
apps/environments/*.yml
apps/_envs/*.json5
apps/_envs/*.yaml
apps/_envs/*.yml
environments/*.json5
environments/*.yaml
environments/*.yml
_envs/*.json5
_envs/*.yaml
_envs/*.yml
.env
.env.local
.env.*.local
*.key


# Dependencies
node_modules
vendor

# Test files & executables
demo
bin/*
build
dist
coverage
*.test

# Data files
*.sqlite


# Log files & reports
*.xls
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# IDE & editor temporary files & configs
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
